{% extends "layout.html" %}

{% block title %}
    Select Company
{% endblock %}

{% block main %}
<form action="/" method="post">
    <select class="form-control mx-auto w-auto" id="cik" name="cik">
        <option disabled selected>Select A Symbol</option>
        {% for ticker in ticker_list %}
            <option value="{{ ticker['CIK'] }}">{{ ticker["Ticker"] }}</option>
        {% endfor %}
    </select>
    <br>
    <input class="btn btn-secondary" type="submit" value="Get Financials">
</form>
{% endblock %}
